/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

body {
	background-color: #993E34;
}

html {
    overflow-y: scroll;
		overflow-x: hidden;
		/* text-align-last: center; */
}

hr.faded-sides {
  border: 0;
  height: 1px;
	width: 60vmin;
	margin-bottom: 3vmin;
	margin-top: 3vmin;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.pad-bottom {
	padding-bottom: 5vmin;
}

.about-me {
  display: inline;
}

.work-industry {
  display: none;
}

.work-education {
  display: none;
}

.personal-projects {
  display: none;
}

.contact {
  display: none;
}

.clean-link {
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.clean-link:hover {
  text-decoration: none;
  opacity: 1;
}

.popout-box
{
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 3px rgba(0, 0, 0, 0.19);
	background-color: #EFEFEF;
}

/* Landing */

.landing-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8vmin;
  text-align: center;
  margin-bottom: 4vmin;
}

.landing-container {
	width: 60%;
	padding: 5vmin 0vmin;
	margin: 5vmin 0vmin;
}

.landing-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.75vmin;
  color: #313131;
  line-height: 4vmin;
  width: 60%;
}

.landing-text h1 {
  font-size: 4vmin;
  text-align: center;
}

.landing-text p {
  text-align: justify;
}

/* Flexbox */

.flex-landing {
	height: auto;
	width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: #313131;
}

.flex-portfolio {
  height: 40vmin;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;

  color: #313131;
}

.flex-portfolio-text {
  margin-bottom: 5vmin;
	padding: 7vmin;
}

/* Portfolio */

.portfolio-image {
	width: 70%;
	height: auto;
	margin: 0vmin 15%;
}

.portfolio-hover {
    opacity: 0.9;
    transform: scale(1,1);
    -webkit-transition: transform 300ms ease, opacity 300ms ease;
    -moz-transition: transform 300ms ease, opacity 300ms ease;
    -ms-transition: transform 300ms ease, opacity 300ms ease;
    -o-transition: transform 300ms ease, opacity 300ms ease;
    transition: transform 300ms ease, opacity 300ms ease;
}

.portfolio-hover:hover {
    text-decoration: none;
    opacity: 1;
    transform: scale(1.03,1.03);
}

/* Featured box */

.featured-box {
  flex: auto;
  margin-bottom: 4vmin;
  height: auto;
}

.featured-box p {
  font-size: 2.75vmin;
	padding: 0vmin 7vmin;
	margin: auto;
}

.featured-box h2 {
  font-size: 3.25vmin;
  padding-bottom: 3vmin;
  padding-top: 2vmin;
	text-align: center;
}

.logo-image-long {
	height: 6vmin;
	padding: 4vmin 0vmin;
	display: block;
	margin: 0 auto;
}

.logo-image-square {
	height: 14vmin;
	padding: 3vmin;
	display: block;
	margin: 0 auto;
}

/* Lists */

.list-inline {
	text-align: center;
	font-size: 5vmin;
}

.list-inline a {
	color: #313131;
	opacity: 0.6;
	transform: scale(1,1);
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-ms-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
  padding: 2vmin;
}

.list-inline a:hover {
	text-decoration: none;
	opacity: 1;
}

/* Slider */

.slideshow-container {
  position: relative;
  margin: auto;

	margin-bottom: 5vmin;
}

.slideshow-slide {
  display: none;
	height: auto;
}

.slideshow-slide-active {
	display: block;
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 1vmin;
  color: #EFEFEF;
	background-color: rgba(0,0,0,0.8);
	opacity: 0.3;
  transition: 0.6s ease;
  border-radius: 0 4px 4px 0;
}

.slideshow-next {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.slideshow-prev:hover, .slideshow-next:hover {
  opacity: 0.7;
}

.slideshow-dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
	margin-bottom: 5vmin;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-active, .slideshow-dot:hover {
  background-color: #717171;
}

/* Fade-in */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
